{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Start Quiz ?</h5>
                </div>
                <div class="modal-body" id="modal-body-confirm"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="button" id="start-btn" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="h1"></div>
    <hr>
    {% for obj in object_list %}
        <button class="btn btn-link modal-button"
                data-pk={{ obj.id }}
                        data-quiz={{ obj.name }}
                data-question={{ obj.no_of_questions }}
                        {% if obj.difficulty_level == 1 %}
                            data-difficulty='Easy'
                        {% elif obj.difficulty_level == 2 %}
                data-difficulty='Medium'
                        {% else %}
                data-difficulty='Hard'
                        {% endif %}
                data-time={{ obj.time_duration }}
                        data-pass={{ obj.score_to_pass }}
                data-topic="{{ obj.topic }}"
                data-toggle="modal"
                data-target="#quizStartModal">{{ obj.name }}</button><br>
    {% endfor %}
{% endblock body %}