{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'quiz.js' %}" defer></script>
{% endblock scripts %}
{% block title %}
    {{ obj.name }}
{% endblock title %}

{% block body %}
    <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="col-12 modal-title text-center" id="exampleModalLabel">Done..!!</h5>
                </div>
                <div class="modal-body" id="modal-body-confirm"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <b>{{ obj.name }}</b>
        <div class="col text-right" id="timer-box"></div>
    </div>
    <a href="{% url 'quiz:main-view' %}" class="btn btn-danger">Go back</a>
    <form id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box"></div>
        <button type="submit" class="btn btn-primary mt-3" id="submit-btn" data-toggle="modal" data-target="#quizStartModal">Submit
        </button>
    </form>
{% endblock body %}